* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1424px;
    padding: 0 12px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: $primary-color;
    line-height: 1.1;
    margin-bottom: 72px;
    text-transform: uppercase;

    .section-subtitle {
        margin-bottom: 8px;
        text-transform: capitalize;
    }
}

h1 {
    font-size: 54px;
    font-family: $font-primary;
}

h2 {
    font-size: 30px;
    font-family: $font-primary;
}

h3 {
    font-size: 24px;
    font-family: $font-secondary;
}

h4 {
    font-size: 20px;
    font-family: $font-secondary;
}

h5 {
    font-size: 18px;
    font-family: $font-secondary;
}

h6 {
    font-size: 16px;
    font-family: $font-secondary;
}

.btn {
    padding: 6px 16px;
    text-transform: uppercase;
    background-color: $accent-color;
    color: $bg-color;
    border-radius: 20px;
    border: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    transition: .3s;
}

.swiper-button-prev, 
.swiper-button-next {
    transition: .3s;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
    content: "";
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
}

.swiper-button-next:after {
    background: url(assets/img/arrow-next.svg) $accent-color;
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-button-prev:after {
    background: url(assets/img/arrow-prev.svg) $accent-color;
    background-repeat: no-repeat;
    background-position: center;
}

.d-none {
    display: none;
}

.active {
    display: flex;
}


.button-product {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
