header {
	
	.header {
		background-color: transparent;
		padding: 72px;
		margin-bottom: -100%;

		> .container {
			display: flex;
			justify-content: space-between;
			max-width: 1040px;
		}

		&-logo {
			background: url(assets/img/icon-logo.svg) no-repeat center;
			background-size: contain;
			width: 124px;
			height: 40px;
		}

		&-base {
			background: url(assets/img/icon-base.svg) no-repeat;
			background-position-y: bottom;
			width: 38px;
			height: 38px;
		}
	}
}