///fonts///
$font-primary: "Montserrat";
$font-secondary:  "Nunito";
$font-size: 16px;

///colors///
$primary-color: #415167;
$secondary-color: #f00;
$accent-color: #C7A17A; 
$accent-color-two: #F9F5E8;
$dark-gray: #151D28;
$light-gray: #EDF0F5;
$bg-color: #fff;

