<section class="banner">

    <div class="container">
    
        <div class="banner-title">
            <h1>YOUR <span>PERSONALIZED</span> COFFEE</h1>
        </div>
        <div class="banner-video"></div>
        <div class="banner-nav">
            <nav>
                    <h6 class="banner-nav-title">TRANG CHỦ</h6>
                <ul>
                    <li class="nav-item">COFFEE</li>
                    <li class="nav-item">PHIN MẠ MÀU</li>
                    <li class="nav-item">COMBO PHIN PHÊ</li>
                    <li class="nav-item">GIFTSET</li>
                    <li class="nav-item">LIÊN HỆ</li>
                </ul>
            </nav>
        </div>

    </div>

</section>