<section class="gifset">
    
    <div class="container">
        <div class="section-title gifset-section-title">
            <h4 class="gifset__subtitle section-subtitle">Best Gift For Best Friend</h4>
            <h2 class="gifset__title">GIFTSET</h2>
        </div>

        <div class="gifset-tab">
            <div class="tabs">
                <div class="tabs__nav gifset-tabs-nav">
                    <button class="tabs__button active">1</button>
                    <button class="tabs__button">2</button>
                    <button class="tabs__button">3</button>
                </div>
                <div class="tabs__content d-none active gifset-tab__content">
                    <div class="gifset-tab__img">
                        <img src="assets/img/gifset-product.png" alt="coffee">
                    </div>
                    <div class="gifset-tab__info">
                        <div class="gifset-tab__info--persent">285.000</div>
                        <div class="gifset-tab__info--name"><h3>Giftset "Cà phê phin Việt Nam"</h3></div>
                        <div class="gifset-tab__info--about">Món quà tuyệt vời dành cho người sành cà phê. Hạt cà phê được Revo cẩn trọng chọn lựa, rang xay theo công nghệ và bí quyết học hỏi từ những nghệ nhân nổi tiếng, cùng với tình yêu, sự đam mê của người làm cà phê… tạo ra những tách cà phê tinh khiết chỉ dành riêng cho bạn.</div>
                        <div class="gifset-tab__info--advantage">
                            <div class="gifset-tab__info--use">
                                <svg class="icon-svg">
                                    <use xlink:href="#grain"></use>
                                </svg>
                                <div class="gifset-tab__info--title">
                                    <h4 class="gifset-tab__info--subtitle">
                                        Loại hạt
                                    </h4>
                                    <h4>
                                        Fine Robusta Blend
                                    </h4>
                                </div>
                            </div>
                            <div class="gifset-tab__info--use">
                                <svg class="icon-svg">
                                    <use xlink:href="#mountain"></use>
                                </svg>
                                <div class="gifset-tab__info--title">
                                    <h4 class="gifset-tab__info--subtitle">
                                        Độ cao
                                    </h4>
                                    <h4>
                                        700 - 800m
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="gifset-button button-product">
                            <button class="btn">MUA NGAY</button>
                            <div class="favorite-detal">
                              CHI TIẾT
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__content d-none">
                <div class="gifset-tab__img">
                    <img src="assets/img/gifset-product.png" alt="coffee">
                </div>
                <div class="gifset-tab__info">
                    <div class="gifset-tab__info--persent">285.000</div>
                    <div class="gifset-tab__info--name"><h3>Giftset "Cà phê phin Việt Nam"</h3></div>
                    <div class="gifset-tab__info--about">Món quà tuyệt vời dành cho người sành cà phê. Hạt cà phê được Revo cẩn trọng chọn lựa, rang xay theo công nghệ và bí quyết học hỏi từ những nghệ nhân nổi tiếng, cùng với tình yêu, sự đam mê của người làm cà phê… tạo ra những tách cà phê tinh khiết chỉ dành riêng cho bạn.</div>
                    <div class="gifset-tab__info--advantage">
                        <div class="gifset-tab__info--use">
                            <svg class="icon-svg">
                                <use xlink:href="#grain"></use>
                            </svg>
                            <div class="gifset-tab__info--title">
                                <h4 class="gifset-tab__info--subtitle">
                                    Loại hạt
                                </h4>
                                <h4>
                                    Fine Robusta Blend
                                </h4>
                            </div>
                        </div>
                        <div class="gifset-tab__info--use">
                            <svg class="icon-svg">
                                <use xlink:href="#mountain"></use>
                            </svg>
                            <div class="gifset-tab__info--title">
                                <h4 class="gifset-tab__info--subtitle">
                                    Độ cao
                                </h4>
                                <h4>
                                    700 - 800m
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="gifset-button button-product">
                        <button class="btn">MUA NGAY</button>
                        <div class="favorite-detal">
                          CHI TIẾT
                        </div>
                    </div>
                </div>
            </div>
                <div class="tabs__content d-none">
                <div class="gifset-tab__img">
                    <img src="assets/img/gifset-product.png" alt="coffee">
                </div>
                <div class="gifset-tab__info">
                    <div class="gifset-tab__info--persent">285.000</div>
                    <div class="gifset-tab__info--name"><h3>Giftset "Cà phê phin Việt Nam"</h3></div>
                    <div class="gifset-tab__info--about">Món quà tuyệt vời dành cho người sành cà phê. Hạt cà phê được Revo cẩn trọng chọn lựa, rang xay theo công nghệ và bí quyết học hỏi từ những nghệ nhân nổi tiếng, cùng với tình yêu, sự đam mê của người làm cà phê… tạo ra những tách cà phê tinh khiết chỉ dành riêng cho bạn.</div>
                    <div class="gifset-tab__info--advantage">
                        <div class="gifset-tab__info--use">
                            <svg class="icon-svg">
                                <use xlink:href="#grain"></use>
                            </svg>
                            <div class="gifset-tab__info--title">
                                <h4 class="gifset-tab__info--subtitle">
                                    Loại hạt
                                </h4>
                                <h4>
                                    Fine Robusta Blend
                                </h4>
                            </div>
                        </div>
                        <div class="gifset-tab__info--use">
                            <svg class="icon-svg">
                                <use xlink:href="#mountain"></use>
                            </svg>
                            <div class="gifset-tab__info--title">
                                <h4 class="gifset-tab__info--subtitle">
                                    Độ cao
                                </h4>
                                <h4>
                                    700 - 800m
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="gifset-button button-product">
                        <button class="btn">MUA NGAY</button>
                        <div class="favorite-detal">
                          CHI TIẾT
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</section>