<section class="personalized-coffee">

    <div class="container">
        <div class="section-title">
            <h4 class="parsonalized-coffe__subtitle section-subtitle">Your Personalized Coffee</h4>
            <h2 class="parsonalized-coffe__title">COFFEE BUILD YOUR BASE</h2>
        </div>

        <div class="personalized-coffee__services">

            <div class="personalized-coffee__possibility">
                <div class="personalized-coffee__possibility--img">
                    <img src="assets/img/icon-goc.svg" alt="icon">
                </div>
                <h3 class="personalized-coffee__possibility--title">Nguồn gốc</h3>
                <div class="personalized-coffee__possibility--info">
                    Những hạt cà phê Arabica, Robusta đạt chất lượng theo tiêu chuẩn quốc tế.
                </div>
            </div>
            <div class="personalized-coffee__possibility">
                <div class="personalized-coffee__possibility--img">
                    <img src="assets/img/icon-chat.svg" alt="icon">
                </div>
                <h3 class="personalized-coffee__possibility--title">Chất lượng</h3>
                <div class="personalized-coffee__possibility--info">
                    Từng một hạt cà phê là cả một quá trình tập trung cao độ của nghệ nhân cà phê.
                </div>
            </div>
            <div class="personalized-coffee__possibility">
                <div class="personalized-coffee__possibility--img">
                    <img src="assets/img/icon-hat.svg" alt="icon">
                </div>
                <h3 class="personalized-coffee__possibility--title">Các loại hạt</h3>
                <div class="personalized-coffee__possibility--info">
                    70% chất lượng tách cà phê đến từ nguồn gốc và chất lượng green bean.
                </div>
            </div>
            <div class="personalized-coffee__possibility">
                <div class="personalized-coffee__possibility--img">
                    <img src="assets/img/icon-pha-che.svg" alt="icon">
                </div>
                <h3 class="personalized-coffee__possibility--title">Pha chế</h3>
                <div class="personalized-coffee__possibility--info">
                    Những hạt cà phê được lột xác qua quá trình rang xay kỹ lưỡng và nghiêm ngặt.
                </div>
            </div>

        </div>
    </div>

</section>