<section class="personalized">

    <div class="container">
        <div class="section-title personalized-section-title">
            <h4 class="personalized__subtitle section-subtitle">Your Personalized Coffee</h4>
            <h2 class="personalized__title">COMBO PHIN PHÊ</h2>
        </div>



        <div class="swiper personalized-coffee-swiper">
            
            <div class="swiper-wrapper">

              <div class="swiper-slide personalized-coffee-slide">
                <img src="assets/img/personalized-product-1.png" alt="coffee">
                <div class="personalized-coffee-details">
                  <div class="personalized-coffee-price">
                  147.000
                  <span class="personalized-coffee-discount">155.000</span>
                  </div>
                  <div class="personalized-coffee__name">Combo Revo Đậm Đà</div>
                  <div class="personalized-coffee__info">Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...</div>
                  <div class="favorite-button">
                   <button class="btn">MUA NGAY</button>
                   <div class="favorite-detal">
                      CHI TIẾT
                   </div>
                </div>
                </div>
              </div>
              <div class="swiper-slide personalized-coffee-slide">
                <img src="assets/img/personalized-product-1.png" alt="coffee">
                <div class="personalized-coffee-details">
                  <div class="personalized-coffee-price">
                  147.000
                  <span class="personalized-coffee-discount">155.000</span>
                  </div>
                  <div class="personalized-coffee__name">Combo Revo Đậm Đà</div>
                  <div class="personalized-coffee__info">Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...</div>
                  <div class="favorite-button personalized-coffee-button">
                   <button class="btn">MUA NGAY</button>
                   <div class="favorite-detal">
                      CHI TIẾT
                   </div>
                </div>
                </div>
              </div>
              <div class="swiper-slide personalized-coffee-slide">
                <img src="assets/img/personalized-product-1.png" alt="coffee">
                <div class="personalized-coffee-details">
                  <div class="personalized-coffee-price">
                  147.000
                  <span class="personalized-coffee-discount">155.000</span>
                  </div>
                  <div class="personalized-coffee__name">Combo Revo Đậm Đà</div>
                  <div class="personalized-coffee__info">Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...</div>
                  <div class="favorite-button">
                   <button class="btn">MUA NGAY</button>
                   <div class="favorite-detal">
                      CHI TIẾT
                   </div>
                </div>
                </div>
              </div>
              <div class="swiper-slide personalized-coffee-slide">
                <img src="assets/img/personalized-product-1.png" alt="coffee">
                <div class="personalized-coffee-details">
                  <div class="personalized-coffee-price">
                  147.000
                  <span class="personalized-coffee-discount">155.000</span>
                  </div>
                  <div class="personalized-coffee__name">Combo Revo Đậm Đà</div>
                  <div class="personalized-coffee__info">Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...</div>
                  <div class="favorite-button">
                   <button class="btn">MUA NGAY</button>
                   <div class="favorite-detal">
                      CHI TIẾT
                   </div>
                </div>
                </div>
              </div>
              <div class="swiper-slide personalized-coffee-slide">
                <img src="assets/img/personalized-product-1.png" alt="coffee">
                <div class="personalized-coffee-details">
                  <div class="personalized-coffee-price">
                  147.000
                  <span class="personalized-coffee-discount">155.000</span>
                  </div>
                  <div class="personalized-coffee__name">Combo Revo Đậm Đà</div>
                  <div class="personalized-coffee__info">Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...</div>
                  <div class="favorite-button">
                   <button class="btn">MUA NGAY</button>
                   <div class="favorite-detal">
                      CHI TIẾT
                   </div>
                </div>
                </div>
              </div>
              <div class="swiper-slide personalized-coffee-slide">
                <img src="assets/img/personalized-product-1.png" alt="coffee">
                <div class="personalized-coffee-details">
                  <div class="personalized-coffee-price">
                  147.000
                  <span class="personalized-coffee-discount">155.000</span>
                  </div>
                  <div class="personalized-coffee__name">Combo Revo Đậm Đà</div>
                  <div class="personalized-coffee__info">Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...</div>
                  <div class="favorite-button">
                   <button class="btn">MUA NGAY</button>
                   <div class="favorite-detal">
                      CHI TIẾT
                   </div>
                </div>
                </div>
              </div>
            </div>


            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
          </div>
    </div>

</section>